main{
    margin: auto;
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 800px;
   width: 800px;

}
.contenedor{
    background-color: #f1f1f1;
    border-radius: 16px;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
}
.noformateado{
    height: 200px;
}

textarea{
    height: 400px;
}
h2{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
}
h5{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
}
button{
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 16px;
    max-width: 150px;
    padding: 8px 8px;
    margin: auto;
}